<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <script src="https://kit.fontawesome.com/6ea2cb925f.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <title>POS - Dashboard</title>

    <!-- Custom fonts for this template-->
    <link rel="stylesheet" href="/stylesheets/all.min.css" />
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet" />

    <!-- Custom styles for this template-->
    <link rel="stylesheet" href="/stylesheets/sb-admin-2.min.css" />
</head>

<body id="page-top">
    <div id="wrapper">
        <%- include('partials/sidebar.ejs') %>
            <div id="content-wrapper" class="d-flex flex-column">
                <div id="content">
                    <%- include('partials/topbar.ejs') %>
                        <div class="container-fluid">
                            <div class="d-sm-flex align-items-center justify-content-between mb-4">
                                <h1 class="h3 mb-0 text-gray-800">Dashboard</h1>
                            </div>
                        </div>

                        <!-- Card Date -->
                        <form action="" id="dateForm">
                            <div class="card">
                                <div class="card-header">
                                    <span style="color:#4e73df; font-weight: bold;">
                                        Date Settings
                                    </span>
                                </div>
                                <div class="card-body">
                                    <div class="row g-3">
                                        <div class="col-md-6">
                                            <label for="inputStartDate" class="form-label">Start Date</label>
                                            <input type="date" class="form-control" id="startDate" name="startDate"
                                                value="<%= query.startDate %>">
                                        </div>
                                        <div class="col-md-6">
                                            <label for="inputEndDate" class="form-label">End Date</label>
                                            <input type="date" class="form-control" id="endDate" name="endDate"
                                                value="<%= query.endDate %>">
                                        </div>
                                    </div>
                                </div>
                                <div class="card-footer">
                                    <button class="btn btn-md btn-success btn-icon-split">
                                        <span class="icon text-white-50">
                                            <i class="fas fa-solid fa-check"></i>
                                        </span>
                                        <span class="text">Query</span>
                                    </button>
                                    <a href="/dashboard" class="btn btn-md btn-warning btn-icon-split">
                                        <span class="icon text-white-50">
                                            <i class="fas fa-solid fa-arrow-left"></i>
                                        </span>
                                        <span class="text">Reset</span>
                                    </a>
                                </div>
                            </div>
                        </form>

                        <div class="row" style="margin: 10px !important;">
                            <!-- Earnings (Monthly) Card Example -->
                            <div class="col-xl-3 col-md-6 mb-4">
                                <div class="card border-left-primary shadow h-100 py-2">
                                    <div class="card-body">
                                        <div class="row no-gutters align-items-center">
                                            <div class="col mr-2">
                                                <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                                    PURCHASES</div>
                                                <div class="h5 mb-0 font-weight-bold text-gray-800" id="totalPurchases">
                                                </div>
                                            </div>
                                            <div class="col-auto">
                                                <i class="fas fa-calendar fa-2x text-gray-300"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- Earnings (Monthly) Card Example -->
                            <div class="col-xl-3 col-md-6 mb-4">
                                <div class="card border-left-success shadow h-100 py-2">
                                    <div class="card-body">
                                        <div class="row no-gutters align-items-center">
                                            <div class="col mr-2">
                                                <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                                                    SALES</div>
                                                <div class="h5 mb-0 font-weight-bold text-gray-800" id="totalSales">
                                                </div>
                                            </div>
                                            <div class="col-auto">
                                                <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- Earnings (Monthly) Card Example -->
                            <div class="col-xl-3 col-md-6 mb-4">
                                <div class="card border-left-info shadow h-100 py-2">
                                    <div class="card-body">
                                        <div class="row no-gutters align-items-center">
                                            <div class="col mr-2">
                                                <div class="text-xs font-weight-bold text-info text-uppercase mb-1">
                                                    EARNINGS
                                                </div>
                                                <div class="row no-gutters align-items-center">
                                                    <div class="col-auto">
                                                        <div class="h5 mb-0 font-weight-bold text-gray-800"
                                                            id="totalEarnings">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-auto">
                                                <i class="fas fa-clipboard-list fa-2x text-gray-300"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- Pending Requests Card Example -->
                            <div class="col-xl-3 col-md-6 mb-4">
                                <div class="card border-left-warning shadow h-100 py-2">
                                    <div class="card-body">
                                        <div class="row no-gutters align-items-center">
                                            <div class="col mr-2">
                                                <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">
                                                    TOTAL SALES</div>
                                                <div class="h5 mb-0 font-weight-bold text-gray-800">
                                                    <%= total.totalsales %>
                                                </div>
                                            </div>
                                            <div class="col-auto">
                                                <i class="fas fa-comments fa-2x text-gray-300"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row" style="margin: 10px !important;">

                            <!-- Area Chart -->
                            <div class="col-xl-8 col-lg-7">
                                <div class="card shadow mb-4">
                                    <!-- Card Header - Dropdown -->
                                    <div
                                        class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                        <h6 class="m-0 font-weight-bold text-primary">Earnings Overview</h6>
                                        <div class="dropdown no-arrow">
                                            <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                                            </a>
                                            <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in"
                                                aria-labelledby="dropdownMenuLink">
                                                <div class="dropdown-header">Dropdown Header:</div>
                                                <a class="dropdown-item" href="#">Action</a>
                                                <a class="dropdown-item" href="#">Another action</a>
                                                <div class="dropdown-divider"></div>
                                                <a class="dropdown-item" href="#">Something else here</a>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Card Body -->
                                    <div class="card-body">
                                        <div class="chart-line">
                                            <canvas id="myLineChart"></canvas>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- Pie Chart -->
                            <div class="col-xl-4 col-lg-5">
                                <div class="card shadow mb-4">
                                    <!-- Card Header - Dropdown -->
                                    <div
                                        class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                        <h6 class="m-0 font-weight-bold text-primary">Revenue Sources</h6>
                                        <div class="dropdown no-arrow">
                                            <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                                            </a>
                                            <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in"
                                                aria-labelledby="dropdownMenuLink">
                                                <div class="dropdown-header">Dropdown Header:</div>
                                                <a class="dropdown-item" href="#">Action</a>
                                                <a class="dropdown-item" href="#">Another action</a>
                                                <div class="dropdown-divider"></div>
                                                <a class="dropdown-item" href="#">Something else here</a>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Card Body -->
                                    <div class="card-body">
                                        <div class="chart-pie pt-4 pb-2">
                                            <canvas id="myDoughnutChart"></canvas>
                                        </div>
                                        <div style="margin-bottom: 48px;"></div>
                                        <div class="mt-4 text-center small">
                                            <span class="mr-2">
                                                <i class="fas fa-circle text-primary"></i> Direct
                                            </span>
                                            <span class="mr-2">
                                                <i class="fas fa-circle text-success"></i> Customer
                                            </span>
                                            <div style="margin-bottom: 20px;"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="card shadow mb-4" style="margin-left: 20px; margin-right: 20px;">
                            <div class="card-header py-3">
                                <span class="m-0 font-weight-bold text-primary">Early Monthly Report</span>
                            </div>
                            <form action="" method="get">
                                <div class="card-body table-responsive">
                                    <div class="row mb-3">
                                        <table class="table table-bordered" id="dataReport">
                                            <thead>
                                                <tr>
                                                    <th width="25%">Monthly</th>
                                                    <th width="25%">Expense</th>
                                                    <th width="25%">Revenue</th>
                                                    <th width="25%">Earning</th>
                                                </tr>
                                            </thead>
                                            <tbody id="tableBody"></tbody>
                                            <tfoot id="tableFooter"></tfoot>
                                        </table>
                                    </div>
                                </div>
                            </form>
                        </div>
                </div>
                <%- include('partials/footer.ejs') %>
            </div>
    </div>
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>
    <%- include('partials/logoutModal.ejs')%>

        <!-- Bootstrap core JavaScript-->
        <script src="/javascripts/jquery.min.js"></script>
        <script src="/javascripts/bootstrap.bundle.min.js"></script>

        <!-- Core plugin JavaScript-->
        <script src="/javascripts/jquery.easing.min.js"></script>

        <!-- Custom scripts for all pages-->
        <script src="/javascripts/sb-admin-2.min.js"></script>

        <!-- Page level plugins -->
        <script src="/javascripts/Chart.min.js"></script>

        <!-- Page level custom scripts -->
        <script src="/javascripts/chart-area-demo.js"></script>
        <script src="/javascripts/chart-pie-demo.js"></script>

        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script src="https://cdn.datatables.net/1.11.1/js/jquery.dataTables.min.js"></script>


        <script>
            function formatCurrency(value) {
                const formatter = new Intl.NumberFormat('id-ID', {
                    style: 'currency',
                    currency: 'IDR',
                    currencyDisplay: 'symbol',
                });
                return formatter.format(value).replace('IDR', 'Rp. ');
            }
            $(document).ready(() => {
                $('#dataTable').DataTable({
                    "lengthMenu": [3, 10, 100],
                    "responsive": true,
                    "aaSorting": []
                });

                lineChart();
                doughnutChart();
                csvReport();

                const tableData = JSON.parse('<%- JSON.stringify(tableData) %>');
                const tableBody = $('#tableBody');

                $.each(tableData, (index, item) => {
                    const row = $('<tr>');

                    const monthlyCell = $('<td>').text(item.monthly);
                    row.append(monthlyCell);

                    const expenseCell = $('<td>').text(formatCurrency(item.expense));
                    row.append(expenseCell);

                    const revenueCell = $('<td>').text(formatCurrency(item.revenue));
                    row.append(revenueCell);

                    const earningCell = $('<td>').text(formatCurrency(item.revenue - item.expense));
                    row.append(earningCell);

                    tableBody.append(row);
                });


                // Format purchases.tp as currency and display in totalPurchases element
                const purchasesTp = `<%= purchases.tp %>`;
                const formattedTp = formatCurrency(purchasesTp);
                $('#totalPurchases').text(formattedTp);

                const salesTs = `<%= sales.ts %>`;
                const formattedTs = formatCurrency(salesTs);
                $('#totalSales').text(formattedTs);

                const totalEarnings = `<%= sales.ts - purchases.tp %>`;
                const formattedEarnings = formatCurrency(totalEarnings);
                $('#totalEarnings').text(formattedEarnings);

                const tableFooter = $('#tableFooter');
                const footerRow = $('<tr>');
                const totalLabelCell = $('<th>').text('Total');
                const tpCell = $('<th>').text(formattedTp);
                const tsCell = $('<th>').text(formattedTs);
                const earningsCell = $('<th>').text(formattedEarnings);

                footerRow.append(totalLabelCell, tpCell, tsCell, earningsCell);
                tableFooter.append(footerRow);

            });

            const csvReport = function () {
                // Get the generate report button element
                const generateReportButton = $('#generateReportButton');

                // Add event listener for the button click
                generateReportButton.on('click', function () {
                    // Get the table element
                    const table = $('#dataTable');

                    // Create an empty array to store the CSV rows
                    const rows = [];

                    // Add header row to the rows array
                    const headerRow = ['Month', 'Expense', 'Revenue', 'Earning'];
                    rows.push(headerRow.join(','));
                    // Iterate through each table row
                    table.find('tbody tr').each(function () {
                        const rowData = [];

                        // Iterate through each cell in the row
                        $(this).find('td').each(function () {
                            // Push the cell's text content to the rowData array
                            rowData.push($(this).text().trim());
                        });
                        // Join the rowData array with commas to create a CSV row
                        const csvRow = rowData.join(',');

                        // Push the CSV row to the rows array
                        rows.push(csvRow);
                    });
                    // console.log(rows)

                    // Join the rows array with line breaks to create the final CSV content
                    const csvContent = rows.join('\n');

                    // Create a download link for the CSV file
                    const downloadLink = $('<a></a>', {
                        href: 'data:text/csv;charset=utf-8,' + encodeURIComponent(csvContent),
                        download: 'report.csv',
                        style: 'display: none;'
                    });

                    // Add the download link to the document and click it to trigger the download
                    $('body').append(downloadLink);
                    downloadLink[0].click();
                    downloadLink.remove();
                });
            };
            const lineChart = () => {
                const getMonth = JSON.parse('<%- JSON.stringify(getMonth) %>');
                const monthlyIncome = JSON.parse('<%- JSON.stringify(monthlyIncome) %>');
                const ctx = $("#myLineChart");
                new Chart(ctx, {
                    type: 'line',
                    data: {
                        labels: getMonth,
                        datasets: [{
                            data: monthlyIncome,
                            borderColor: 'rgb(59,109,204)',
                            lineTension: 0.3,
                            pointRadius: 3,
                            pointBackgroundColor: "rgba(78, 115, 223, 1)",
                            pointBorderColor: "rgba(78, 115, 223, 1)",
                            pointHoverRadius: 3,
                            pointHoverBackgroundColor: "rgba(78, 115, 223, 1)",
                            pointHoverBorderColor: "rgba(78, 115, 223, 1)",
                            pointHitRadius: 10,
                            pointBorderWidth: 2,
                        }]
                    },
                    options: {
                        layout: {
                            padding: {
                                left: 10,
                                right: 10,
                                top: 10,
                                bottom: 10
                            }
                        },
                        scales: {
                            xAxes: [{
                                time: {
                                    unit: 'date'
                                },
                                gridLines: {
                                    display: false,
                                    drawBorder: false
                                },
                                ticks: {
                                    maxTicksLimit: 7
                                }
                            }],
                            yAxes: [{
                                ticks: {
                                    maxTicksLimit: 5,
                                    padding: 10,
                                    // Include a dollar sign in the ticks
                                    callback: function (value, index, values) {
                                        return formatCurrency(value);
                                    }
                                },
                                gridLines: {
                                    color: "rgb(234, 236, 244)",
                                    zeroLineColor: "rgb(234, 236, 244)",
                                    drawBorder: false,
                                    borderDash: [2],
                                    zeroLineBorderDash: [2]
                                }
                            }],
                        },
                        legend: {
                            display: false
                        },
                        tooltips: {
                            backgroundColor: "rgb(255,255,255)",
                            bodyFontColor: "#858796",
                            titleMarginBottom: 10,
                            titleFontColor: '#6e707e',
                            titleFontSize: 14,
                            borderColor: '#dddfeb',
                            borderWidth: 1,
                            xPadding: 15,
                            yPadding: 15,
                            displayColors: false,
                            intersect: false,
                            mode: 'index',
                            caretPadding: 10,
                            callbacks: {
                                label: function (tooltipItem, chart) {
                                    var datasetLabel = chart.datasets[tooltipItem.datasetIndex].label || '';
                                    return datasetLabel + formatCurrency(tooltipItem.yLabel);
                                }
                            }
                        }
                    }
                })
            }

            const doughnutChart = () => {
                const direct = '<%- direct %>'
                const customer = '<%- customer %>'
                const ctx = $("#myDoughnutChart")
                new Chart(ctx, {
                    type: 'doughnut',
                    data: {
                        labels: ['customer', 'direct'],
                        datasets: [{
                            data: [customer, direct],
                            backgroundColor: ["rgb(76,118,216)", "rgb(0,200,144)"]
                        }]
                    },
                    options: {
                        maintainAspectRatio: false,
                        tooltips: {
                            backgroundColor: "rgb(255,255,255)",
                            bodyFontColor: "#858796",
                            borderColor: '#dddfeb',
                            borderWidth: 1,
                            xPadding: 15,
                            yPadding: 15,
                            displayColors: false,
                            caretPadding: 10,
                        },
                        legend: {
                            display: false
                        },
                        cutoutPercentage: 80,
                    }
                })
            };
        </script>

</body>

</html>